source/backend/nodered/.flow.json.backup
[
    {
        "id": "a49856a6.d10848",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9f3346aa.d4fc48",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": "# System Monitor\nFlow to monitor the Raspberry Pi resources\n - CPU Load\n - CPU Temp\n - Memory\n - Disk\n - Uptime"
    },
    {
        "id": "638fc478.4db30c",
        "type": "mqtt-broker",
        "name": "Fermenta",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2248aa46.11d1c6",
        "type": "ui_tab",
        "name": "System",
        "icon": "settings",
        "order": 2
    },
    {
        "id": "d07f30e0.c48a2",
        "type": "ui_group",
        "name": "Default",
        "tab": "2248aa46.11d1c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0203943.4505e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "41c8ede2.3e7b84",
        "type": "rpi-srf",
        "z": "a49856a6.d10848",
        "name": "Distance01",
        "topic": "SRF",
        "pulse": "2",
        "pins": "38,40",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "cdadd6c3.6ade48",
                "903cfe34.3c25d"
            ]
        ]
    },
    {
        "id": "903cfe34.3c25d",
        "type": "mqtt out",
        "z": "a49856a6.d10848",
        "name": "Distance01",
        "topic": "Sensors/Distance/1",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "cdadd6c3.6ade48",
        "type": "debug",
        "z": "a49856a6.d10848",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "6129eac0.5bdec4",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "5 sec tick",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "ab1a2405.584fd8",
                "7805af15.1b74f",
                "f2adaf57.d9a",
                "57db43b6.37f54c",
                "e91a3069.06e26",
                "54f685c.dbdd67c",
                "dfed6e13.50ff2",
                "dade3cd6.7d9eb",
                "8a2afb23.9bb668"
            ]
        ]
    },
    {
        "id": "f4fc2799.51b558",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU load",
        "label": "%",
        "format": "{{ msg.payload }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 860,
        "y": 940,
        "wires": []
    },
    {
        "id": "23830467.dd874c",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Used",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "10934589.87f3ca",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Load, %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff8000",
            "#aec7e8",
            "#0080ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "95df7e14.b6609",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Storage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2fad608.df29c8",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "RAM usage",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 870,
        "y": 780,
        "wires": []
    },
    {
        "id": "542d167b.24a938",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "48b90ddd.e18714",
        "type": "ui_gauge",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "°C",
        "format": "{{ msg.payload }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#f0f000",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "x": 870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "597cae13.db6de",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "extract",
        "func": "var msg1,msg2,msg3;\nmsg1= {topic: 'Total', payload: msg.payload.totalmem};\nmsg2= {topic: 'Free', payload: msg.payload.freemem};\nmsg3= {topic: 'Usage', payload: msg.payload.memusage};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 680,
        "wires": [
            [
                "5871770c.b8b6e8"
            ],
            [
                "5a0ff673.299f78"
            ],
            [
                "f01b86b9.d505a8",
                "e2fad608.df29c8",
                "542d167b.24a938"
            ]
        ]
    },
    {
        "id": "ba1907da.0fcf28",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "fb58a432.8d29b8",
                "1124fc93.b3fd23"
            ]
        ]
    },
    {
        "id": "ab1a2405.584fd8",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "/opt/vc/bin/vcgencmd measure_temp | egrep -o \"[0-9]+\\.[0-9]+?\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_T",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "48b90ddd.e18714",
                "72d1796e.c403e8",
                "74a85f1.53128a"
            ],
            [],
            []
        ]
    },
    {
        "id": "7805af15.1b74f",
        "type": "Memory",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "scale": "Gigabyte",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "597cae13.db6de"
            ]
        ]
    },
    {
        "id": "f2adaf57.d9a",
        "type": "Uptime",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "ba1907da.0fcf28"
            ]
        ]
    },
    {
        "id": "72d1796e.c403e8",
        "type": "ui_chart",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "group": "d07f30e0.c48a2",
        "order": 4,
        "width": "6",
        "height": "3",
        "label": "Temperature, °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 880,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "fb58a432.8d29b8",
        "type": "ui_text",
        "z": "9f3346aa.d4fc48",
        "group": "d07f30e0.c48a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime, d:h:m:s",
        "format": "{{ msg.payload }}",
        "layout": "row-spread",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "57db43b6.37f54c",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "cpu_load",
        "x": 320,
        "y": 900,
        "wires": [
            [
                "f4fc2799.51b558",
                "10934589.87f3ca",
                "f5775c49.18ece"
            ],
            [],
            []
        ]
    },
    {
        "id": "e91a3069.06e26",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "527cb653.bbcfe8"
            ],
            [],
            []
        ]
    },
    {
        "id": "527cb653.bbcfe8",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert",
        "func": "var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "95df7e14.b6609",
                "46060731.19d8b8"
            ],
            [
                "95df7e14.b6609",
                "a2d3aceb.798a3"
            ],
            [
                "95df7e14.b6609",
                "23830467.dd874c",
                "8cefa9f3.fd45c8"
            ]
        ],
        "info": " - msg1 is the total size of disk\n - msg2 is the free size\n - msg3 is the % usage"
    },
    {
        "id": "c7e500f1.0b382",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "UI controls",
        "info": "",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "54f685c.dbdd67c",
        "type": "NetworkIntf",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "x": 230,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "46060731.19d8b8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Total1",
        "topic": "System/Disk/Total",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2d3aceb.798a3",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Free",
        "topic": "System/Disk/Free",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "8cefa9f3.fd45c8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Used %",
        "topic": "System/Disk/Used",
        "qos": "",
        "retain": "",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "1124fc93.b3fd23",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "topic": "System/Uptime/",
        "qos": "",
        "retain": "",
        "broker": "638fc478.4db30c",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "f01b86b9.d505a8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Usage",
        "topic": "System/Memory/Usage",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "d03c0bba.92fe78",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Usage",
        "info": "",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5c1ef60.f56d9",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "info": "",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "5a0ff673.299f78",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Free",
        "topic": "System/Memory/Free",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "5871770c.b8b6e8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Total",
        "topic": "System/Memory/Total",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "950d1ff9.2268d",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "Memory",
        "info": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "19131253.a6038e",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "CPU",
        "info": "",
        "x": 310,
        "y": 840,
        "wires": []
    },
    {
        "id": "f5775c49.18ece",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "CPU Load",
        "topic": "System/CPU/Load",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "74a85f1.53128a",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "CPU Temp",
        "topic": "System/CPU/Temp",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dfed6e13.50ff2",
        "type": "OS",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "ac3dff59.0e23d"
            ]
        ]
    },
    {
        "id": "10434740.86af19",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Operating System",
        "topic": "System/OS",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "dade3cd6.7d9eb",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "hostname -I",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "IP",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "ac3dff59.0e23d",
                "bfc93db5.11c57"
            ],
            [],
            []
        ]
    },
    {
        "id": "ac3dff59.0e23d",
        "type": "join",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "10434740.86af19"
            ]
        ]
    },
    {
        "id": "bfc93db5.11c57",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "IP",
        "topic": "System/IP",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a2afb23.9bb668",
        "type": "mqtt-check",
        "z": "9f3346aa.d4fc48",
        "host": "localhost",
        "port": "1883",
        "username": "Fermenta",
        "password": "Ferment@21",
        "name": "",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "bedd465d.12aa88"
            ]
        ]
    },
    {
        "id": "bedd465d.12aa88",
        "type": "debug",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 40,
        "wires": []
    }
]