source/backend/nodered/flow.json
[
    {
        "id": "a49856a6.d10848",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9f3346aa.d4fc48",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": "# System Monitor\nFlow to monitor the Raspberry Pi resources\n - CPU Load\n - CPU Temp\n - Memory\n - Disk\n - Uptime"
    },
    {
        "id": "638fc478.4db30c",
        "type": "mqtt-broker",
        "name": "Fermenta",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2248aa46.11d1c6",
        "type": "ui_tab",
        "name": "System",
        "icon": "settings",
        "order": 2
    },
    {
        "id": "d07f30e0.c48a2",
        "type": "ui_group",
        "name": "Default",
        "tab": "2248aa46.11d1c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0203943.4505e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7853403.230cdc",
        "type": "ui_group",
        "name": "CPU Load",
        "tab": "e6013c6f.69328",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1d1da0fc.6ab84f",
        "type": "ui_group",
        "name": "Memory",
        "tab": "e6013c6f.69328",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a9912d64.97094",
        "type": "ui_group",
        "name": "System Information",
        "tab": "e6013c6f.69328",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e6013c6f.69328",
        "type": "ui_tab",
        "name": "System",
        "icon": "computer"
    },
    {
        "id": "41c8ede2.3e7b84",
        "type": "rpi-srf",
        "z": "a49856a6.d10848",
        "name": "Distance01",
        "topic": "SRF",
        "pulse": "2",
        "pins": "38,40",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "cdadd6c3.6ade48",
                "903cfe34.3c25d"
            ]
        ]
    },
    {
        "id": "903cfe34.3c25d",
        "type": "mqtt out",
        "z": "a49856a6.d10848",
        "name": "Distance01",
        "topic": "Fermenta/Sensors/Distance/1",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "cdadd6c3.6ade48",
        "type": "debug",
        "z": "a49856a6.d10848",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "6129eac0.5bdec4",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "10 sec tick",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "ab1a2405.584fd8",
                "57db43b6.37f54c",
                "e91a3069.06e26",
                "6d9ce3f1.90469c",
                "b2a8abb1.8af698",
                "2bac96e4.7181ca"
            ]
        ]
    },
    {
        "id": "ba1907da.0fcf28",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "1124fc93.b3fd23"
            ]
        ]
    },
    {
        "id": "ab1a2405.584fd8",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "/opt/vc/bin/vcgencmd measure_temp | egrep -o \"[0-9]+\\.[0-9]+?\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_T",
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "74a85f1.53128a"
            ],
            [],
            []
        ]
    },
    {
        "id": "f2adaf57.d9a",
        "type": "Uptime",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "ba1907da.0fcf28"
            ]
        ]
    },
    {
        "id": "57db43b6.37f54c",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "cpu_load",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "f5775c49.18ece"
            ],
            [],
            []
        ]
    },
    {
        "id": "e91a3069.06e26",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "527cb653.bbcfe8"
            ],
            [],
            []
        ]
    },
    {
        "id": "527cb653.bbcfe8",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "convert",
        "func": "var msg1,msg2,msg3,msg4;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: parseFloat(l[1] / 1000).toFixed(2)};\nmsg2 = {topic: 'Used', payload:  parseFloat(l[2] / 1000).toFixed(2)};\nmsg3 = {topic: 'Free', payload:  parseFloat(l[3] / 1000).toFixed(2)};\nmsg4 = {topic: 'Usage',payload: l[4].slice(0, -1)};\nmsg5 = {topic: 'Data', payload: {disk_total: msg1.payload, disk_used:msg2.payload, disk_free:msg3.payload }};\nreturn [msg1, msg2,msg3, msg4,msg5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "46060731.19d8b8"
            ],
            [
                "e5545102.dca79"
            ],
            [
                "a2d3aceb.798a3"
            ],
            [
                "8cefa9f3.fd45c8"
            ],
            [
                "47fca7e5.a21d88"
            ]
        ],
        "info": " - msg1 is the total size of disk\n - msg2 is the free size\n - msg3 is the % usage"
    },
    {
        "id": "c7e500f1.0b382",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "OS Info",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "46060731.19d8b8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Total",
        "topic": "Fermenta/System/Disk/Total",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "a2d3aceb.798a3",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Free",
        "topic": "Fermenta/System/Disk/Free",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "8cefa9f3.fd45c8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Usage",
        "topic": "Fermenta/System/Disk/Usage",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "1124fc93.b3fd23",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Uptime",
        "topic": "Fermenta/System/Uptime",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "f01b86b9.d505a8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Usage",
        "topic": "Fermenta/System/Memory/Usage",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 1020,
        "y": 880,
        "wires": []
    },
    {
        "id": "d03c0bba.92fe78",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Usage",
        "info": "",
        "x": 330,
        "y": 380,
        "wires": []
    },
    {
        "id": "5a0ff673.299f78",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Available",
        "topic": "Fermenta/System/Memory/Available",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "5871770c.b8b6e8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Total",
        "topic": "Fermenta/System/Memory/Total",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 1020,
        "y": 720,
        "wires": []
    },
    {
        "id": "950d1ff9.2268d",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "Memory",
        "info": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "19131253.a6038e",
        "type": "comment",
        "z": "9f3346aa.d4fc48",
        "name": "CPU",
        "info": "",
        "x": 310,
        "y": 920,
        "wires": []
    },
    {
        "id": "f5775c49.18ece",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "CPU Load",
        "topic": "Fermenta/System/CPU/Load",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "74a85f1.53128a",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "CPU Temp",
        "topic": "Fermenta/System/CPU/Temp",
        "qos": "1",
        "retain": "true",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 1060,
        "wires": []
    },
    {
        "id": "dfed6e13.50ff2",
        "type": "OS",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "85ba8993.2b7608"
            ]
        ]
    },
    {
        "id": "10434740.86af19",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Operating System",
        "topic": "Fermenta/System/OS",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "dade3cd6.7d9eb",
        "type": "exec",
        "z": "9f3346aa.d4fc48",
        "command": "hostname -I",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "IP",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "bfc93db5.11c57"
            ],
            [],
            []
        ]
    },
    {
        "id": "bfc93db5.11c57",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "IP",
        "topic": "Fermenta/System/IP",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "83dbb22c.e12e8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory",
        "topic": "Fermenta/System/MemoryData",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 1000,
        "y": 660,
        "wires": []
    },
    {
        "id": "dced7955.ce0058",
        "type": "json",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 770,
        "y": 660,
        "wires": [
            [
                "83dbb22c.e12e8"
            ]
        ]
    },
    {
        "id": "6d9ce3f1.90469c",
        "type": "memory",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Total",
        "relativeValues": false,
        "unitType": "gb",
        "totalMemory": true,
        "usedMemory": false,
        "freeMemory": false,
        "availableMemory": false,
        "activeMemory": false,
        "buffersMemory": false,
        "cachedMemory": false,
        "slabMemory": false,
        "buffcacheMemory": false,
        "freeAvailableMemory": false,
        "swapTotalMemory": false,
        "swapUsedMemory": false,
        "swapFreeMemory": false,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "2248d179.1543ae"
            ]
        ]
    },
    {
        "id": "b2a8abb1.8af698",
        "type": "memory",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Free",
        "relativeValues": false,
        "unitType": "gb",
        "totalMemory": false,
        "usedMemory": false,
        "freeMemory": false,
        "availableMemory": true,
        "activeMemory": false,
        "buffersMemory": false,
        "cachedMemory": false,
        "slabMemory": false,
        "buffcacheMemory": false,
        "freeAvailableMemory": false,
        "swapTotalMemory": false,
        "swapUsedMemory": false,
        "swapFreeMemory": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "2248d179.1543ae"
            ]
        ]
    },
    {
        "id": "7f06399e.dd1c18",
        "type": "join",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 700,
        "wires": [
            [
                "274a1f32.73466",
                "dced7955.ce0058"
            ]
        ]
    },
    {
        "id": "2bac96e4.7181ca",
        "type": "memory",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Usage",
        "relativeValues": false,
        "unitType": "gb",
        "totalMemory": false,
        "usedMemory": false,
        "freeMemory": false,
        "availableMemory": false,
        "activeMemory": true,
        "buffersMemory": false,
        "cachedMemory": false,
        "slabMemory": false,
        "buffcacheMemory": false,
        "freeAvailableMemory": false,
        "swapTotalMemory": false,
        "swapUsedMemory": false,
        "swapFreeMemory": false,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "2248d179.1543ae"
            ]
        ]
    },
    {
        "id": "2248d179.1543ae",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "Round",
        "func": "var rounded;\nrounded=parseFloat(msg.payload).toFixed(2);\nmsg={topic: msg.topic, payload: rounded}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 700,
        "wires": [
            [
                "7f06399e.dd1c18"
            ]
        ]
    },
    {
        "id": "274a1f32.73466",
        "type": "function",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "func": "var memtotal;\nvar memactive;\nvar memavailable;\nvar memactiverelative;\nmemtotal={topic:\"memory_total\",payload: msg.payload.memory_total};\nmemactive={topic:\"memory_active\",payload: msg.payload.memory_active};\nmemavailable={topic:\"memory_available\",payload: msg.payload.memory_available};\nmemactiverelative={topic:\"memory_activerel\",payload: parseFloat(msg.payload.memory_active/msg.payload.memory_total*100).toFixed(2)};\nmsg=[memtotal,memactive,memavailable,memactiverelative];\nreturn msg;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 800,
        "wires": [
            [
                "5871770c.b8b6e8"
            ],
            [
                "b3664b6e.ad96b8"
            ],
            [
                "5a0ff673.299f78"
            ],
            [
                "f01b86b9.d505a8"
            ]
        ]
    },
    {
        "id": "b3664b6e.ad96b8",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Memory Active",
        "topic": "Fermenta/System/Memory/Active",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 1020,
        "y": 780,
        "wires": []
    },
    {
        "id": "e5545102.dca79",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Used",
        "topic": "Fermenta/System/Disk/Used",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "47fca7e5.a21d88",
        "type": "mqtt out",
        "z": "9f3346aa.d4fc48",
        "name": "Disk Data",
        "topic": "Fermenta/System/DiskData",
        "qos": "1",
        "retain": "false",
        "broker": "638fc478.4db30c",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "85ba8993.2b7608",
        "type": "json",
        "z": "9f3346aa.d4fc48",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "10434740.86af19"
            ]
        ]
    },
    {
        "id": "67ae0067.a84ab",
        "type": "inject",
        "z": "9f3346aa.d4fc48",
        "name": "1 minute tick",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "dade3cd6.7d9eb",
                "dfed6e13.50ff2",
                "f2adaf57.d9a"
            ]
        ]
    }
]